    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Post Fiat</h2>
                <p> Post Fiat is the decentralized application layer for the post-government epoch. </p>

                <p> Our fundamental thesis is that Level 2 scaling technology such as the Lightning Network combined with the KYC/banking/broker functionality of Square and the Social Layer of Twitter will enable many use cases such as Dapps, in-game currency and NFTs to be built directly on top of the Bitcoin Network. </p>

                <p> Post Fiat Org aims to become an early adopter Lightning Node operator that also builds delightful custom software for developers to integrate with. </p>

                <p> Post Fiat's team members have worked at top technology companies such as Unity and Palantir </p>
            </div>
        </div>
    </section>
