<!-- Contact Section -->
<section id="team">
    <div class="container content-section text-center">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Team</h2>
                <hr class="star-primary">
            </div>
            <body class="container-fluid">
                <div class="row">
                  <div class="col-sm-6"> 
                    <figure>
                        <img src='img/alex_twitter.png' alt='missing' width="288.4" height="288.4" />
                        <p></p>
                        <figcaption><h3>Alex Good<h3></figcaption>
                    </figure>
                    <p> Alex Good traded at a $20b hedge fund before cofounding a start up. He focuses on ETH, BTC and non-security tokens. </p>
                  </div>
                  
                  <div class="col-sm-6">
                    <figure>
                        <img src='img/stella_twitter.png' alt='missing' width="288.4" height="288.4" />
                        <p></p>
                        <figcaption><h3>0xstella<h3></figcaption>
                    </figure>     
                    <p>  0xstella is a seasoned developer who worked at Unity Software </p>             
                  </div>

                </div>
            </body>


        </div>

